.main {
  max-width: 650px;
}

.mail-form__inner {
  padding: 24px;
}

.mail-form__item {
  width: 95%;
  margin: 20px auto 44px;
  position: relative;
}

.mail-form__item:first-of-type:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 35px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #111111;
  transform: translateY(-50%);
  pointer-events: none;
}

.mail-form__label {
  display: inline-block;
  width: 80px;
  vertical-align: top;
  margin-right: 10px;
  padding-top: 3px;
  font-weight: bold;
}


.mail-form__text {
  width: 80%;
  line-height: 18px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.mail-form__btn {
  text-align: center;
}

.mail-form__btn--submit {
  width: 120px;
	text-align: center;
  background-color: #4CAF50;
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer
}

.mail-form__btn--submit:hover {
  background-color: #45a049;
}

/* レスポンシブ (768px以下)*/
@media screen and (max-width : 768px) {
  header {
    width: 90%;
  }
}