.main {
	max-width: 800px;
}

.owners-table {
	width: 100%;
	border-collapse: collapse;
}

.owners-table__tr {
	line-height: 2rem;
}

.owners-table__th:first-of-type,
.owners-table__td:first-of-type {
	width: 10%;
}

.owners-table__th:nth-child(n+2),
.owners-table__td:nth-child(n+2) {
	width: 30%;
}
.owners-table__th,
.owners-table__td {
	text-align: left;
	padding-left: 20px;
}

.owners-table__td:first-of-type {
	text-align: center;
}