body {
	background: rgb(235, 235, 235);
	font-family: Arial, sans-serif;
}

.header {
	width: 100%;
	padding: 40px 100px;
	text-align: center;
	/* border: solid 1px red; */
}

.header__logo {
	display: flex;
	align-items: center;
	color: rgb(48, 86, 255);
}

.header__title {
	margin-left: 25px;
}

/* ロゴアイコン */
.fa-bars-staggered {
	padding: 8px;
	background: rgb(48, 86, 255);
	color: #fff;
	font-size: 25px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #6e6e6e;
}

/* ボタン */
.btn {
	background: rgb(46, 102, 255);
	color: #fff;
}

/* エラーメッセージ */
.message {
	color: red;
}