.header {
	width: 90%;
}

.main {
	max-width: 1200px;
}

.shops-table {
	width: 100%;
	border-collapse: collapse;
}

.shops-table__tr:first-of-type {
	line-height: 2.5rem;
	border-bottom: solid 2px rgb(117, 117, 117);
}

.shops-table__tr:nth-child(n+2) {
	letter-spacing: 2px;
	border-bottom: solid 1px rgb(117, 117, 117);
}

.shops-table__th,
.shops-table__td {
	width: 7%;
}

.shops-table__td {
	height: 100px;
}

.shops-table__th:nth-child(2),
.shops-table__td:nth-child(2) {
	width: 12%;
}

.shops-table__th:nth-child(3),
.shops-table__th:nth-child(4),
.shops-table__td:nth-child(3),
.shops-table__td:nth-child(4) {
	width: 10%;
}

.shops-table__th:nth-child(5),
.shops-table__td:nth-child(5) {
	width: 50%;
}

.shops-table__th,
.shops-table__td {
	text-align: left;
	padding: 0 10px;
}

.shops-table__td:first-of-type {
	text-align: center;
}

.shops-table__td--link {
	display: inline-block;
  width: 60px;
	text-align: center;
  background-color: #fff;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
	text-decoration: none;
}

.shops-table__td--link:hover {
	background-color: #4CAF50;
	color: #fff;
}

/* レスポンシブ (768px以下)*/
@media screen and (max-width : 768px) {
	header {
		width: 95%;
	}

	.shops-table__th:nth-child(3),
	.shops-table__th:nth-child(4),
	.shops-table__td:nth-child(3),
	.shops-table__td:nth-child(4) {
		width: 15%;
	}
}