body {
	background: rgb(235, 235, 235);
	font-family: Arial, sans-serif;
	max-width: 1440px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
  width: 80%;
  margin: 0 auto;
  color: #000;
  padding: 1rem;
}

.header__title {
  margin: 0;
  font-size: 1.5rem;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
	list-style: none;
}

.header__nav-item:first-of-type {
	margin-right: 30px;
}

.header__nav-item--link {
	display: inline-block;
  width: 120px;
	text-align: center;
  background-color: #fff;
  border: 2px solid rgb(48, 86, 255);
  color: rgb(48, 86, 255);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
	text-decoration: none;
}

main {
	padding: 0 30px;
}

.shops-container {
	max-width: 1200px;
	margin: 2rem auto;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.shops-table {
	width: 100%;
	border-collapse: collapse;
}

.shops-table__tr:first-of-type {
	line-height: 2.5rem;
	border-bottom: solid 2px rgb(117, 117, 117);
}

.shops-table__tr:nth-child(n+2) {
	letter-spacing: 2px;
	border-bottom: solid 1px rgb(117, 117, 117);
}

.shops-table__th,
.shops-table__td {
	width: 7%;
}

.shops-table__td {
	height: 100px;
}

.shops-table__th:nth-child(2),
.shops-table__td:nth-child(2) {
	width: 12%;
}

.shops-table__th:nth-child(3),
.shops-table__th:nth-child(4),
.shops-table__td:nth-child(3),
.shops-table__td:nth-child(4) {
	width: 10%;
}

.shops-table__th:nth-child(5),
.shops-table__td:nth-child(5) {
	width: 50%;
}

.shops-table__th,
.shops-table__td {
	text-align: left;
	padding: 0 10px;
}

.shops-table__td:first-of-type {
	text-align: center;
}

.shops-table__td--link {
	display: inline-block;
  width: 60px;
	text-align: center;
  background-color: #fff;
  border: 2px solid rgb(48, 86, 255);
  color: rgb(48, 86, 255);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
	text-decoration: none;
}

.shops-table__td--link:hover {
	background-color: rgb(48, 86, 255);
	color: #fff;
}

/* レスポンシブ (768px以下)*/
@media screen and (max-width : 768px) {
	header {
		width: 95%;
	}

	.shops-table__th:nth-child(3),
	.shops-table__th:nth-child(4),
	.shops-table__td:nth-child(3),
	.shops-table__td:nth-child(4) {
		width: 15%;
	}
}