.content {
	padding: 100px;
}

.login-form {
	width: 500px;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #6e6e6e;
	overflow: hidden;
}

.login-form__header {
	padding: 20px 25px;
	background: rgb(48, 86, 255);
	color: #fff;
}

.login-form__inner {
	padding: 28px 35px;
}

.login-form__group {
	display: flex;
	line-height: 24px;
	padding-bottom: 20px;
}

.icon-container {
	width: 5%;
	font-size: 24px;
}

.login-form__item {
	width: 95%;
	margin-left: 15px;
}

.login-form__group--input {
	width: 100%;
	font-size: 20px;
	border-bottom: solid 2px #000;
}

.login-form__btn {
	text-align: right;
	margin-top: 17px;
}

.login-form__btn--submit {
	border-radius: 5px;
	padding: 8px 20px;
}