.content {
	max-width: 100%;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 500px;
}

.user-name {
	grid-column: 2/3;
}

.user-name__text {
	letter-spacing: 5px;
}

/* 予約状況 */
.reservation-confirm {
	padding: 0 80px;
}

.reservation-confirm__header, .likes-confirm__header {
	margin-bottom: 25px;
}

.reservation-confirm__header {
	display: inline-block;
}

.message {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-left: 20px;
}

.likes-confirm__header {
	letter-spacing: 2px;
}

.reservation-card {
	position: relative;
	height: 280px;
	width: 460px;
	margin-bottom: 90px;
	padding: 30px;
	background: rgb(48, 86, 255);
	color: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #6e6e6e;
}

.reservation-card__heading {
	display: flex;
	justify-content: space-between;
}

.reservation-card__heading-item {
	display: flex;
}

.reservation-card__heading-title {
	margin-left: 30px;
}

.reservation-card__heading-icon {
	font-size: 25px;
	color: #fff;
}

.reservation-card__detail {
	margin-top: 15px;
}

.reservation-card__detail-list {
	padding-top: 18px;
}

.reservation-card__detail-label {
	display: inline-block;
	width: 60px;
	margin-right: 40px;
	font-weight: bold;
}

.reservation-card__detail-input, .reservation-card__detail-select {
	color: #fff;
}

.select-option {
	color: #000;
}

.reservation-detail__btn {
	text-align: right;
}

button.reservation-detail__btn--submit {
	color: #fff;
}

/* 評価フォームオーバーレイ */
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.overlay-content {
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	height: 80%;
	max-width: 500px;
	width: 90%;
}

.close-button, .rating-form__btn {
	background: #ff5c5c;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	float: right;
}

.rating-form__btn {
	background: rgb(48, 86, 255);
}

.rating-form {
	height: 80%;
}

.rating-label {
	color: #000;
}

.rating-form__score {
	padding: 15px 10px;
}

.rating-form__comment {
	position: relative;
	height: 115px;
}

.rating-label__comment {
	position: absolute;
	top: 10%;
	left: 2%;
}

.rating-label__comment--textarea {
	position: absolute;
	top: 10%;
	left: 22%;
	height: 80%;
	width: 300px;
	border: solid 1px #000;
	border-radius: 3px;
}

/* お気に入り店舗 */
.likes-confirm {
	padding-right: 20px;
}

.likes-confirm__lists {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

.shop-card {
	height: 300px;
	width: 330px;
	margin: 0 10px 20px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 5px #6e6e6e;
}

.shop-card__img {
	height: 50%;
	text-align: center;
}

.shop-card__img img {
	object-fit: cover;
}

.shop-card__content {
	height: 50%;
	padding: 20px;
	font-size: 15px;
}

.shop-card__name {
	display: inline-block;
	line-height: 36px;
	width: 180px;
	margin-right: 10px;
}

.shop-card__tag--address, .shop-card__tag--category, .shop-card__nav {
	display: inline-block;
}

.shop-card__tag {
	margin-bottom: 16px;
}

/* 店舗詳細ボタン */
.nav__btn {
	letter-spacing: 2px;
	padding: 5px 18px;
	border-radius: 5px;
}

/* お気に入り登録ボタン */
.shop-card__like {
	float: right;
	width: 35px;
	height: 35px;
}

.fa-heart {
	font-size: 35px;
	color: #e6e6e6;
}

/* 店舗評価アイコン */
.rating {
	display: inline-block;
	font-size: 17px;
}

.rating .fa-star {
	color: gold;
}

/* モーダルウィンドウ */
.modal {
	display: none;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	background-color: rgb(235, 235, 235);
}

.modal-content {
	height: 100%;
	width: 1440px;
	margin: 0 auto;
}

.close-btn {
	padding: 50px 120px;
	margin-bottom: 100px;
}

.close {
	background: rgb(48, 86, 255);
	color: #fff;
	padding: 5px 12px;
	border-radius: 5px;
	font-size: 28px;
	float: left;
	box-shadow: 3px 3px 5px #6e6e6e;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-nav {
	height: 30%;
	width: 30%;
	margin: 0 auto;
	padding: 80px;
}

.modal-nav__list {
	margin-bottom: 20px;
}

.modal-nav__list--link, .modal-nav__list--form {
	text-decoration: none;
	color: rgb(48, 86, 255);
	font-size: 2rem;
}

.modal-nav__btn--submit {
	color: rgb(48, 86, 255);
	font-size: 2rem;
}

/* カレンダーアイコンを消すCSS */
input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

/* レスポンシブ (768px以下)*/
@media screen and (max-width : 768px) {
	.reservation-confirm {
	padding: 0 20px;
}
}