body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 130px 650px;
	max-width: 1440px;
	margin: 0 auto;
}

.main {
	grid-column: 1;
	padding: 20px 60px 20px 95px;
}

.shop-detail {
	width: 570px;
}

.shop-detail__nav {
	text-decoration: none;
	background: #fff;
	padding: 5px 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #6e6e6e;
}

.shop-detail__title {
	margin-left: 10px;
}

.shop-detail__header {
	display: flex;
	align-items: center;
}

.shop-detail__image {
	margin: 30px 0;
}

.shop-detail__image img {
	height: 100%;
	width: 100%;
}

.shop-detail__tags {
	margin-bottom: 30px;
}

.shop-detail__tag:first-of-type {
	margin-right: 3px;
}

.shop-detail__description {
	margin-top: 20px;
}

.reservation {
	grid-column: 2;
	grid-row: 1/3;
	padding: 40px;
}

.reservation__form {
	background: rgb(54, 96, 235);
	color: #fff;
	height: 700px;
	width: 550px;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
}

.reservation__form-inner {
	padding: 30px;
	height: 640px;
}

.reservation__form-group {
	width: 95%;
	background: #fff;
	margin-top: 15px;
	border-radius: 5px;
	padding: 5px 10px;
	position: relative;
}

.reservation__form-group:first-of-type {
	width: 36%;
}

.reservation__form-group:nth-child(n+3)::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 8px solid #dfdfdf;
	transform: translateY(-50%);
	pointer-events: none;
}

.reservation__input--date {
	width: 100%;
}

.reservation__form-group select {
	width: 100%;
}

.reservation__confirm {
	width: 90%;
	margin-top: 20px;
	background: rgb(83, 131, 236);
	border-radius: 5px;
	padding: 25px 20px;
}

.reservation__confirm-item {
	padding-bottom: 10px;
}

.reservation__confirm-label {
	display: inline-block;
	width: 60px;
	margin-right: 40px;
}

.reservation__submit {
	text-align: center;
	background: rgb(43, 63, 238);
}

.reservation__btn {
	width: 100%;
	padding: 18px;
	color: #fff;
	cursor: pointer;
}

/* 	エラーメッセージ */
.reservation__error {
	margin-top: 210px;
	text-align: center;
	color:	rgb(230, 33, 33);
	font-size: 18px;
	font-weight: bold;
}

/* レスポンシブ (768px以下)*/
@media screen and (max-width: 768px) {
	body {
		grid-template-columns: 1fr;
	}

	.reservation {
		grid-column: 1;
		grid-row: 3;
		width: 100%;
	}
}
