.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 121px;
	padding: 0 108px;
}

/* 検索フォーム */
.search-form {
	width: 600px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #6e6e6e;
}

.search-form__inner {
	display: flex;
	align-items: center;
}

.search-form__select {
	position: relative;
	padding-right: 10px;
}

.search-form__select-box {
	padding: 18px;
	width: 120px;
}

.search-form__select::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 8px solid #dfdfdf;
	transform: translateY(-50%);
	pointer-events: none;
}

.search-form__input {
	flex-grow: 1;
	position: relative;
}

.search-form__input::before {
	content: '\1F50D'; /* 検索アイコン (🔍) を表示 */
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #6e6e6e;
	font-size: 16px;
	pointer-events: none;
}

.search-form__input--text {
    width: 80%;
    padding-left: 10px;
}

/* 店舗一覧 */
.content {
	max-width: 1400px;
	margin: 0 auto 15px;
	padding: 0 60px;
}

.shop-lists {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0 auto;
	width: 95%;
	gap: 15px;
}

.shop-card {
	height: 300px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 5px #6e6e6e;
}

.shop-card__img {
	height: 50%;
	text-align: center;
}

.shop-card__img img {
	object-fit: cover;
}

.shop-card__content {
	height: 50%;
	padding: 20px;
}

.shop-card__name {
	display: inline-block;
	line-height: 36px;
	width: 152px;
}

.shop-card__tag--address, .shop-card__tag--category, .shop-card__nav {
	display: inline-block;
}

.shop-card__tag {
	margin-bottom: 16px;
}

/* ボタン */
.nav__btn {
	letter-spacing: 2px;
	padding: 5px 18px;
	border-radius: 5px;
}

/* お気に入り登録ボタン */
.shop-card__like {
	float: right;
	width: 35px;
	height: 35px;
}

.fa-heart {
	font-size: 35px;
	color: #e6e6e6;
}

/* モーダル */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	background-color: rgb(235, 235, 235);
}

.modal-content {
	height: 100%;
	width: 1440px;
	margin: 0 auto;
	background: #fff;
	position: relative;
}

/* ヘッダーモーダル */
.close-btn {
	padding: 50px 120px;
	margin-bottom: 100px;
}

.headerModal-close {
	background: rgb(48, 86, 255);
	color: #fff;
	padding: 5px 12px;
	border-radius: 5px;
	font-size: 28px;
	float: left;
	box-shadow: 3px 3px 5px #6e6e6e;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-nav {
	height: 30%;
	width: 30%;
	margin: 0 auto;
	padding: 80px;
}

.modal-nav__list {
	margin-bottom: 20px;
}

.modal-nav__list--link, .modal-nav__list--form {
	text-decoration: none;
	color: rgb(48, 86, 255);
	font-size: 2rem;
}

.modal-nav__btn--submit {
	color: rgb(48, 86, 255);
	font-size: 2rem;
}

/* 評価モーダル */
.rating-header {
	border-bottom: 2px solid #ddd;
	padding: 15px 24px;
	margin-bottom: 15px;
}

.rating-header__info {
	padding-bottom: 8px;
}

.rating-header__content {
	display: flex;
}

.aveRating {
	padding-left: 10px;
}

/* 閉じるボタン */
.ratingModal-close {
	color: #333;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	position: absolute; /* モーダルの右上に固定するために絶対位置を設定 */
	top: 12px;
	right: 24px;
}

.ratingModal-close:hover,
.ratingModal-close:focus {
	color: #000;
	text-decoration: none;
}

.rating-list {
	padding: 0 15px;
}

.rating-card {
	padding: 15px;
	margin-bottom: 10px;
}

.rating-card__user-name p {
	font-weight: bold;
}

.rating-card__rating {
	margin: 5px 0;
}

.rating-card__date {
	color: #666;
	font-size: 0.9em;
}

.rating-card__text {
	margin-top: 10px;
}

.rating-card__comment {
	font-style: italic;
}

/* 店舗評価アイコン */
.rating {
	display: inline-block;
	font-size: 17px;
}

.fa-star, .fa-star-half-alt {
	color: gold;
}